.search__dropdown__container{
  max-height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.search__dropdown{
  overflow: hidden;
  display: flex;
  align-items: center;

  padding: 20px 0;

  color: black;
  background: white;
}

.search__dropdown__form{
  display: flex;
}

.search__button{
  padding: .7em 1em;

  font-family: "bebas neue pro", sans-serif;
  font-size: 20px;

  background: $turquoise;
  color: white;

  &:hover{
    background: $dark_turquoise;
  }
}

.search__button--close{
  padding: .7em 1em;

  font-family: "bebas neue pro", sans-serif;
  font-size: 20px;

  &:hover{
    text-decoration: underline;
    color: $orange;
  }
}

.search__dropdown__text{
  margin-right: 32px;

  font-family: "bebas neue pro", sans-serif;
  font-size: 25px;
  text-transform: capitalize;
}

#search__input{
  margin: 0 12px;
  padding: 1em;
  width: 45vw;

  font-size: 16px;

  border: 1px solid $light_gray_text;
}

.search__dropdown--open{
  animation: open forwards 500ms;
}

.search__dropdown--closed{
  animation: close forwards 500ms;
}

@keyframes open {
  100%{
    max-height: 100px;
  }
}

@keyframes close {
  0%{
    max-height: 100px;
  }
  100%{
    max-height: 0;
  }
}
