.about{
  z-index: -2;
  position: relative;
  display: grid;
  width: 90%;
  padding: 6.25em 5%; //100/16

  background: $light_gray_bg;
}

.about__image{
  width: clamp(12.5em ,50vw, 31.25em); //200/16 500/16
}

.about__title{
  z-index: -1;

  font-family: "bebas neue pro", sans-serif;
  font-size: clamp(6.25em, 25vw, 14.375em); //100/16 230/16

  color: $light_gray_text;
}

.about__infos{
  display: grid;
}

.about__info__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.5em; //18/16
  font-weight: bold;
  text-transform: uppercase;
}

.about__info__sub{
  margin-top: 0.66666667em; //12/18
  font-family: "open sans", sans-serif;
  font-size: 1.125em; //18/16
}

@media screen and (min-width: 1221px){
  .about{
    grid-template-columns: 1fr 2fr;
  }

  .about__title{
    position: absolute;
    top: 100px;
    left: clamp(100px, 30%, 1000px);
  }

  .about__infos{
    grid-template-columns:  repeat(2, clamp(18.75em ,40%, 43.75em)); //300/16 700/16
    grid-gap: 3.125em; //50/16
    margin-top: 10em; //160/16
    justify-content: center;
  }
}

@media screen and (max-width: 1220px) {
  .about{
    grid-template-columns: repeat(2, 1fr);
  }

  .about__title{
    align-self: center;
    grid-area: 1/2/2/-1;
  }

  .about__image{
    justify-self: center;
  }

  .about__infos{
    grid-area: 2/1/3/-1;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 0 auto;
    gap: 3.75em; //60/16
  }
}

@media screen and (max-width: 610px){
  .about{
    display: flex;
    flex-direction: column;
  }

  .about__image{
    align-self: center;
  }

  .about__infos{
    margin-top: 10em; //160/16
    display: flex;
    flex-direction: column;
  }

  .about__title{
    position: absolute;
    top: 375px;
  }
}