header{
  display: grid;
  width: 80%;
  padding: 1.25em 10%; //20/16
  background: white;
}

.title__link{
  position: absolute;
  width: clamp(2.8125em, 15vw, 58px); //45/16 72/16
  aspect-ratio: 1/1.30555556;
}

.header__title{
  width: clamp(2.8125em, 15vw, 58px); //45/16 72/16
  aspect-ratio: 1/1.30555556;
  text-indent: -9999em;

  background: url("/sources/pictures/original/icons/wdf_logo.svg") no-repeat center;
  background-size: contain;
}

.main-nav{
  font-family: 'open sans', sans-serif;
  font-size: 0.8125em; //13/16
  font-weight: 700;
}

.main-nav__main-menu__link:not(:nth-last-child(-n + 2)){
  text-transform: uppercase;
}

.main-nav__main-menu__link a:hover{
  color: $orange;
}

.sec-nav{
  position: relative;
  display: flex;

  font-family: 'open sans', sans-serif;
  font-weight: 700;
  font-size: 0.6875em; //11/16
  text-transform: uppercase;

  color: $gray_text;
}

.sec-nav__main-menu, .sec-nav__sec-menu{
  display: flex;
}

.sec-nav a:hover{
  text-decoration: underline;
}

.sec-nav__socials{
  display: flex;
}

.Facebook{
  background: url("/sources/pictures/original/icons/facebook_logo.svg") no-repeat;
}
.Twitter{
  background: url("/sources/pictures/original/icons/twitter_logo.svg") no-repeat;
}
.Instagram{
  background: url("/sources/pictures/original/icons/instagram_logo.svg") no-repeat;
}
.Youtube{
  background: url("/sources/pictures/original/icons/youtube_logo.svg") no-repeat;
}
.Linkedin{
  background: url("/sources/pictures/original/icons/linkedin_logo.svg") no-repeat;
}

.sec-nav__socials__link{
  align-self: center;
  width: 1.45454545em; //16/11
  aspect-ratio: 1/1; //16/11
  overflow: hidden;

  color: transparent;
  background-position: center;
  background-size: contain;
}

.sec-menu__search{
  width: 1.45454545em; //16/11
  aspect-ratio: 1/1; //16/11
  overflow: hidden;

  color: transparent;
  background: url("/sources/pictures/original/icons/search_icon.svg") center no-repeat;
  background-size: contain;
}

.sec-menu__language{
  &:after{
    content:'';
    display:inline-block;
    border-top: 0.333em solid;
    border-right: 0.3333em solid transparent;
    border-left: 0.3333em solid transparent;
    vertical-align:  0.2833em;
  }
}


@media screen and (max-width: 1220px){
  header{
    height: clamp(3.9375em, 19.6875vw, 5.875em); //63/16 94/16
    grid-template: 5em 2fr 1fr/ repeat(2, 1fr);
  }

  .header__burger_menu--open{
    animation: open 1s forwards;
  }

  .header__burger_menu--close{
    animation: close 1s forwards;
  }

  .main-nav{
    grid-area: 2/1/3/-1;
    display: grid;
    padding: 1.25em 0; //20/16
    margin-top: 1.25em;

    border-top: 1px solid $gray_text;
    border-bottom: 1px solid $gray_text;
  }

  .main-nav__main-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sec-nav{
    grid-area: 3/1/4/-1;
    flex-direction: column;
    gap: 4em 0;
    margin-top: 1.25em; //20/16
  }

  .sec-nav__main-menu{
    gap: 0 clamp(1.875em, 12%, 3.75em); //30/16 60/16
  }

  .sec-nav__socials{
    gap:0 clamp(1.25em, 7%, 2.5em); //20/16 40/16
  }

  .sec-menu__search{
    position: absolute;
    right: clamp(11em ,21vw, 18em); //10/16 150/16
    top: 4.4em; //60/16 80/16
    width: clamp(1.5em, 5vw, 1.75em);//28/16
  }

  .sec-menu__language{
    position: absolute;
    right: clamp(10em, 26vw, 15.625em); //250/16
    top: 3em; //60/16 80/16
    font-size: 16px; //11/16 24/16
  }

  .burger-menu__icon{
    grid-area: 1/2/2/-1;
    margin-top: 20px  ;
    justify-self: end;
    width: clamp(2em, 10vw, 3em); //32/16 64/16
    aspect-ratio: 1/0.8125;

    background: url("/sources/pictures/original/icons/bruger-menu__icon.svg") no-repeat center;
    background-size: contain;
  }
}

@media screen and (min-width: 1221px){
  header{
    grid-template: .5fr 1fr/ 15% 85%;
  }

  .header__title{
    grid-area: 1/1/3/2;
  }

  .sec-nav{
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1em;
    border-bottom: 1px solid $light_gray_text;
  }

  .sec-nav__main-menu__link + .sec-nav__main-menu__link{
    &:before{
      content: '•';
      padding: 0 0.90909091em; //10/11
    }
  }

  .sec-nav__socials{
    justify-content: space-between;
    gap: 2.18181818em; //24/11
    align-items: center;
  }

  .sec-nav__sec-menu{
    display: flex;
    gap: 1.875em; //30/16
  }

  .main-nav{
    display: flex;
    align-items: center;
  }

  .main-nav__main-menu{
    display: flex;
    width: 100%;
    gap: clamp(1.875em, 6%, 3.75em);
  }

  .main-nav__main-menu__link:nth-last-child(3){
    flex: 1;
  }

}

@keyframes open {
  100%{
    height: clamp(0em, 93vh, 450px); //744/16
    padding-bottom: clamp(100px, calc(100vh - clamp(0em, 93vh, 450px)), 10000px); //744/16
  }
}

@keyframes close {
  0%{
    height: clamp(0em, 93vh, 46.5em);
    padding-bottom: clamp(100px, calc(100vh - clamp(0em, 93vh, 46.5em)), 10000px); //744/16
  }
  100%{
    height: clamp(3.9375em, 19.6875vw, 5.875em); //63/16 94/16
    padding-bottom: 1.25em;
  }
}