.latest{
  display: grid;
  padding: clamp(3em, 15vw, 5em) 0;

  background: black;
  color: white;
}

.latest__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.375em; //22/16
  margin-left: calc(5% + 30px);
  display: flex;

  &:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    margin-left: -30px;
    align-self: center;

    background: white;
  }
}

.latest__articles{
  width: 90%;
  display: grid;
  gap: 3em; //48/16
  margin: 4em auto; //64/16
}

.latest__article{
  position: relative;
  display: grid;
  grid-template: repeat(3, max-content) /repeat(2, 1fr);

  &:hover{
    .latest__article__image{
      transition: 300ms;
      transform: scale(1.25);
    }
  }
}

.latest__article__image__container{
  order: 0;
  grid-area: 1/1/2/-1;
  width: 100%;
  aspect-ratio: 1.4981273408/1;
  margin-bottom: 1.25em; //20/16
  overflow: hidden;
}

.latest__article__image{
  width: 100%;
  transition: 300ms;
  transform: scale(1);
}

.latest__article__sub{
  order: 1;

  font-family: "open sans", sans-serif;
  font-size: 0.6875em; //11/16
  font-weight: bold;
  text-transform: uppercase;
}

.latest__article__date{
  order: 2;
  justify-self: end;

  font-family: "georgia", sans-serif;
  font-size: 0.875em; //14/16
  font-style: italic;

  color: $light_gray_text;
}

.latest__article__title{
  order: 3;
  margin-top: 1em;

  grid-area: 3/1/4/-1;
  font-family: "open sans", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  line-height: 1.4;
}

.latest__all{
  margin-left: calc(95% - 200px);
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  text-transform: uppercase;

  &:after{
    transition: margin-left 300ms;
    content: url("/sources/pictures/original/icons/youtube_logo.svg");
    margin-left: 10px;
  }

  &:hover{
    &:after{
      margin-left: 20px;
    }
  }
}

.article__link{
  position: absolute;
  inset: 0;
}

@media screen and (max-width: 600px){
  .latest__title, .latest__all{
    justify-self: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 601px){
  .latest__articles{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1021px){
  .latest__articles{
    grid-template-columns: repeat(3, 1fr);
  }
}