.projects__images{
  display: grid;
  margin: 6.25em 0; //100/16
}

.projects__images__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 801px) {
  .projects__images {
    grid-template: repeat(2, 1fr)/repeat(2, 628.315fr) repeat(2, 491.68fr);
  }

  .projects__images__link:nth-child(2) {
    grid-area: 1/1/-1/3;
  }

  .projects__images__link:nth-child(3) {
    grid-area: 1/3/2/4;
  }

  .projects__images__link:nth-child(4) {
    grid-area: 1/4/2/5;
  }

  .projects__images__link:nth-child(5) {
    grid-area: 2/3/3/5;
  }
}