.projects{
  position: relative;
  display: grid;
  grid-gap: 2.5em; //40/16
  width: 85%;
  margin: 4.75em auto; //70/16
}

.projects__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 3.4375em; //55/16
  font-weight: bold;
}

.projects__sub{
  font-family: "open sans", sans-serif;
  font-size: 0.9375em; //15/16
  line-height: 1.866;
}

.projects__project{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  min-width: 100%;
  aspect-ratio: 1.25/1;
  margin-bottom: 2.5em;

  &:hover{
    .project__name{
      margin-top: -90px;
      opacity: 0;
      z-index: -1;
    }

    .inner__container{
      opacity: 1;
    }
  }

  .inner__container{
    transition-property: opacity, margin-top;
    transition-duration: 300ms;
    position: absolute;
    width: 100%;
    aspect-ratio: 1.4320987654/1;

    background: black;
    color: white;
    opacity: 0;
    display: grid;
    align-content: center;
    align-items: center;
  }
}

.project__inner {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 2em;

}

.inner__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.inner__description{
  font-family: "open sans", sans-serif;
  font-size: 15px;
  line-height: 1.86;
}

.inner__more{
  font-family: "bebas neue pro", sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  &:after{
    transition: margin-left 300ms;
    content: url("../../pictures/original/icons/right-arrow-white.svg");
    margin-left: 10px;
  }

  &:hover{
    &:after{
      margin-left: 20px;
    }
  }
}

.project__image{
  width: 100% * 1.25;
}

.project__name{
  position: relative;
  z-index: 1;
  transition-property: opacity, margin-top;
  transition-duration: 300ms;
  width: max-content;
  align-self: flex-end;
  padding: 1em 1.5em;
  margin: -1.5em 0 0;

  font-family: "bebas neue pro", sans-serif;
  font-size: clamp(1.125em, 5.625vw ,1.875em); //18/16  30/16
  text-transform: uppercase;

  color: white;
  background: black;
}

@media screen and (min-width: 1021px) {
  .projects{
    grid-template-columns: repeat(2, 1fr);

    .inner__container{
      width: 90%;
      aspect-ratio: 1.4320987654/1;
      margin: calc(5%/1.4320987654) 5%;
    }
  }

  .projects__sub{
    grid-column: 1/-1;
    width: clamp(200px, 85vw, 600px);
  }

  .projects__project:nth-child(odd){
    grid-column: 1/2;
  }

  .projects__project:nth-child(even){
    grid-column: 2/3;
  }
}