.useful{
  margin: 5.625em 0 5.625em clamp(50px, calc(100vw - 1470px), 450px); //90/16
  display: grid;
  grid-template-columns: 300px 150px;
  column-gap: clamp(600px, 50vw, 600px);
}

.useful a:hover{
  text-decoration: underline;
}

.useful__links{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px 60px;
  order: -1;
  max-height: 8em; //128/16
  max-width: max-content;

  font-family: "open sans", sans-serif;
  font-weight: bold;
}

.useful__link:nth-last-child(-n + 5){
  font-weight: normal;

  color: $orange;
}

.useful__link:nth-last-child(6){
  margin-bottom: 0.0625em; //1/16
}

.useful__follow__intro{
  font-family: "georgia", sans-serif;
  font-size: 0.75em; //12/16
}

.useful__follow__links{
  max-width: 300px;
  display: flex;
  gap: 0 1em;
  padding-bottom: 2.1875em; //35/16

  border-bottom: 1px solid $light_gray_text;
}


.useful__follow__link{
  .Facebook{
    background: url("/sources/pictures/original/icons/facebook_logo.svg") no-repeat;
  }
  .Twitter{
    background: url("/sources/pictures/original/icons/twitter_logo.svg") no-repeat;
  }
  .Instagram{
    background: url("/sources/pictures/original/icons/instagram_logo.svg") no-repeat;
  }
  .Youtube{
    background: url("/sources/pictures/original/icons/youtube_logo.svg") no-repeat;
  }
  .Linkedin{
    background: url("/sources/pictures/original/icons/linkedin_logo.svg") no-repeat;
  }

  display: inline;
  align-self: center;
  width: 1em;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 1em 0;

  color: transparent;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 1220px){
  .useful{
    margin-left: clamp(100px, calc(100vw - 970px), 250px);
    grid-template-columns: 154px;
    row-gap: 60px;
  }
}

@media screen and (max-width: 920px){
  .useful{
    margin-left: clamp(144px, calc(100vw - 620px), 300px) ;
  }

  .useful__links{
    max-height: 34em;
    row-gap: 30px;
  }
}

@media screen and (max-width: 620px){
  .useful{
    margin-left: clamp(40px, calc(100vw - 420px), 200px) ;
  }

  .useful__links{
    min-width: max-content;
    max-height: 54em;
  }
}