.about{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: -2;
  width: 80%;
  padding: 6.25em 10% 0 ; //100/16
  background: $light_gray_bg;
}
.about__title{
  position: absolute;
  margin:.5em clamp(0px, 30%, 10000px) 0; //100/200
  z-index: -1;

  font-family: "bebas neue pro", sans-serif;
  font-size: clamp(200px, calc(1vw + 200px), 300px);

  color: $light_gray_text;
}
.about__image{
  width: clamp(400px, 65%, 700px);
  aspect-ratio: 2/3;
  margin-top: 5em; //80/16
}
.about__infos{
  display: grid;
  grid-template-columns:  repeat(2, clamp(300px ,40%, 700px));
  grid-gap: 3.125em; //50/16
  margin-top: 10em; //160/16
  justify-content: center;
}
.about__info__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.125em; //18/16
  font-weight: bold;
  text-transform: uppercase;
}
.about__info__sub{
  margin-top: 0.66666667em; //12/18
  font-family: "open sans", sans-serif;
  font-size: 1.125em; //18/16
}