.did-you-know{
  background: $light_gray_bg;
  position: relative;
  padding:11.25em 0; //180/16
}

.did-you-know__slider{
  display: flex;
  overflow: hidden;
  max-width: clamp(18.75em, 50vw, 10000em); //300/16
  margin: 0 auto;
}

.did-you-know__slide{
  min-width: clamp(18.75em, 50vw, 10000em); //300/16
  padding: clamp(1.875em, 10vw, 3.75em) 0; //30/16 60/16

  text-align: center;

  background: $slide_green;
}

.slide__title{
  //margin-top: 5em; //60/12

  font-family: "open sans", sans-serif;
  font-size: 0.75em; //12/16
  font-weight: bold;
  text-transform: uppercase;
}

.slide__sub{
  margin-top: 1.33333333em;//40/30

  font-family: "bebas neue pro", sans-serif;
  font-size: 1.875em; //30/16
  font-weight: bold;
}

.slide__text{
  width: clamp(13.33333333em, 80%, 33.33333333em); //200/15 500/15
  margin: 2.66666667em auto 0; //40/15

  font-family: "open sans", sans-serif;
  font-size: 0.9375em; //15/16
  line-height: 1.866;
}

.slide__btn__share{
  width: max-content;
  margin: 3.75em auto 0; //60/16
}

.slider__dots{
  display: block;
  margin: 2.5em auto; //40/16
}

@media screen and (max-width: 1200px){
  .left-arrow__btn, .right-arrow__btn{
    display: none;
  }
}

@media screen and (min-width: 1201px){
  .left-arrow__btn, .right-arrow__btn{
    position: absolute;
    display: flex;
    width: 5em; //80/16
    aspect-ratio: 1/1;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  .left-arrow__btn{
    top: calc(50% - 6.875em); //110/16
    left: calc(25% - 2.5em); //40/16
  }

  .right-arrow__btn{
    top: calc(50% - 6.875em); //110/16
    right: calc(25% - 2.5em); //40/16
  }
}