.engagement{
  width: 85%;
  margin: 0 auto;
}

.engagement__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.25em; //20/16
  text-transform: uppercase;
}

.engagement__desc{
  width: clamp(12.36363636em, 85%, 27.27272727em); //272/22 600/22
  margin: 1.6em 0 3.75em 0; //32/20 75/20

  font-family: "georgia", serif;
  font-size: 1.375em; //22/16
  font-style: italic;
  line-height: 1.8666;
}

.engagement__infos{
  display: grid;
}

.engagement__infos:nth-of-type(n+2){
  margin-top: 6.25em; //100/16
}

.engagement__info__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 3.4375em; //55/16
}

.engagement__info__sub{
  font-family: "open sans", sans-serif;
  font-size: 0.9375em; //15/16
  line-height: 1.8666;
}

.engagement__info__image{
  width: 100%;
  aspect-ratio: 3/2;
}

@media screen and (min-width: 1281px){
  .engagement__infos{
    grid-template: 1fr / repeat(2, 1fr);
    grid-column-gap: 10em;
    align-items: center;
  }

  .engagement__info__sub{
    width: 85%;
    margin-top: 2.13333333em; //32/15
  }

  .engagement__infos:nth-child(odd) .engagement__info__sub, .engagement__infos:nth-child(odd) .engagement__info__title{
    margin-left: 15%;
  }

  .engagement__infos:nth-child(odd) .engagement__info__image{
    grid-area: 1/2/-1/-1;
    justify-self: end;
  }

  .engagement__infos:nth-child(even) .engagement__info__image{
    grid-area: 1/1/-1/2;
  }
}

@media screen and (max-width: 1280px){
  .engagement__infos{
    gap: 1.875em; //30/16
  }

  .engagement__info__texts{
    display: grid;
    width: 75%;
    gap: 0.9375em; //15/16
  }

  .engagement__info__image{
    order: -1;
  }
}