.latest{
  display: grid;
  padding: clamp(3em, 15vw, 5em) 0;

  background: black;
  color: white;
}

.latest__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 1.375em; //22/16
  margin-left: 5%;
}

.latest__articles{
  width: 90%;
  display: grid;
  gap: 3em; //48/16
  margin: 4em auto; //64/16
}

.latest__article{
  display: grid;
  grid-template: repeat(3, max-content) /repeat(2, 1fr);
}

.latest__article__image{
  order: 0;

  grid-area: 1/1/2/-1;
  width: 100%;
  margin-bottom: 1.25em; //20/16
}

.latest__article__sub{
  order: 1;

  font-family: "open sans", sans-serif;
  font-size: 0.6875em; //11/16
  font-weight: bold;
  text-transform: uppercase;
}

.latest__article__date{
  order: 2;
  justify-self: end;

  font-family: "georgia", sans-serif;
  font-size: 0.875em; //14/16
  font-style: italic;

  color: $light_gray_text;
}

.latest__article__title{
  order: 3;
  margin-top: 1em;

  grid-area: 3/1/4/-1;
  font-family: "open sans", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  line-height: 1.4;
}

.latest__all{
  justify-self: end;
  margin-right: 5%;

  font-family: "bebas neue pro", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .latest__title, .latest__all{
    justify-self: center;
  }
}

@media screen and (min-width: 601px){
  .latest__articles{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1021px){
  .latest__articles{
    grid-template-columns: repeat(3, 1fr);
  }
}