.newsletter{
  display: grid;
  width: clamp(0px ,80vw, 1152px);
  padding: 4em 7% 2.75em; //64/16 44/16
  margin: 2.75em auto; //44/16

  background: $light_gray_bg;
}

.newsletter__texts{
  width: 80%;
}

.newsletter__title{
  font-family: "bebas neue pro", sans-serif;
  font-size: 3.4375em; //55/16
  font-weight: bold;
}

.newsletter__title--highlight{
  color: $orange;
}

.newsletter__sub-btn{
  width: max-content;
  margin-top: 3.2em; //64/20
  padding: .7em 1em;


  font-family: "bebas neue pro", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  text-transform: uppercase;

  color: white;
  background: $orange;
}

.newsletter__socials__intro{
  margin-top: 4.28571429em; //60/14

  font-family: "georgia", sans-serif;
  font-size: 0.875em; //14/16
}

.newsletter__socials{
  display: flex;
  margin-top: 1.25em; //20/16
  gap: .5em;

}

.newsletter__socials__social{
  .Facebook{
    background: url("/sources/images/facebook_logo.svg") no-repeat;
  }
  .Twitter{
    background: url("/sources/images/twitter_logo.svg") no-repeat;
  }
  .Instagram{
    background: url("/sources/images/instagram_logo.svg") no-repeat;
  }
  .Youtube{
    background: url("/sources/images/youtube_logo.svg") no-repeat;
  }
  .Linkedin{
    background: url("/sources/images/linkedin_logo.svg") no-repeat;
  }

  display: inline;
  align-self: center;
  width: 32px; //32/16
  aspect-ratio: 1/1;
  overflow: hidden;

  font-size: 100px;

  color: transparent;
  background-position: center;
  background-size: 16px 16px;
  border: 1px solid black;
  border-radius: 50%;
}


@media screen and (min-width: 1021px){
  .newsletter{
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__image{
    margin-top: -64px;
    width: 317px;
    aspect-ratio: 1/1.35646687697;
    grid-area: 1/2/-1/-1;
    justify-self: center;
  }

  .newsletter__texts{
    justify-self: end;
  }
}

@media screen and (max-width: 1020px){
  .newsletter{
    justify-items: center;
    text-align: center;
  }

  .newsletter__image{
    order: -1;
    width: 100%;
  }

  .newsletter__title{
    font-size: 36px;
    margin-top: 1em;
  }

  .newsletter__socials__intro{
    font-size: 13px;
  }

  .newsletter__texts{
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .newsletter__sub-btn{
    margin-top: 2em;
  }
}