.btn__share{
  padding: .7em 1.4em;

  font-family: "bebas neue pro", sans-serif;
  font-size: 1.25em; //20/16
  font-weight: bold;
  letter-spacing: 0.06em; //1.2/20
  text-transform: uppercase;

  color: white;
  background: $orange;
}