// ----- COLORS ------ //
$orange: #f07f00;
$light_gray_bg: #F3F3F3;
$light_gray_text: #E6E6E6;
$gray_text: #8c8c8c;
$slide_green: #c4bc8e;


// ----- FONTS ----- //
@font-face {
  font-family: "open sans";
  src:url(/sources/fonts/OpenSans-VariableFont_wdth,wght.woff2) format('woff2 supports variations'),
      url(/sources/fonts/OpenSans-VariableFont_wdth,wght.woff2) format('woff2-variations');
  font-weight: 100 1000;
}
@font-face {
  font-family: "bebas neue pro";
  src: url(/sources/fonts/Bebas_Neue_Pro_Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas neue pro";
  src: url(/sources/fonts/Bebas_Neue_Pro_Bold.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "bebas neue pro";
  src: url(/sources/fonts/Bebas_Neue_Pro_Italic.woff2);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "georgia";
  src: url(/sources/fonts/Georgia.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia";
  src: url(/sources/fonts/Georgia_Bold.woff2);
  font-weight: bold;
  font-style: normal;
}


