// ----- COLORS ------ //
$orange: #000;
$light_gray_bg: #000;
$light_gray_text: #000;


// ----- FONTS ----- //
@font-face {
  font-family: "open sans";
  src: url(../fonts/);
}
@font-face {
  font-family: "bebas neue pro";
  src: url(../fonts/);
}
@font-face {
  font-family: "georgia";
  src: url(../fonts/);
}

